<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyHook" version="2.7.5870.9" targetFramework="net452" />
  <package id="SharpDX" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.D3DCompiler" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.Direct3D10" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.Direct3D11.Effects" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="2.6.3" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net452" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net452" />
</packages>